@import "tailwindcss";

@theme {
  /* primary */
  --color-primary: #f49c0b;
  --color-primary-hover: #d68b09;

  /* 2. Next.js font link to Tailwind's 'font-sans' */
  --font-sans: var(--font-poppins), sans-serif;
}

/* 3. default body styles */
body {
  font-family: var(--font-sans);
}